#cwrap .desktop-image {
  display: inline; }
#cwrap .mobile-show {
  display: none; }

@media screen and (max-width: 750px) {
  #cwrap #orange_header {
    width: 100% !important; }
    #cwrap #orange_header .head_img_container {
      width: 100% !important; }
      #cwrap #orange_header .head_img_container .desktop-image {
        display: none; }
      #cwrap #orange_header .head_img_container .mobile-show {
        display: block;
        width: 100%;
        height: auto; }
  #cwrap .large_container #rightcontent {
    width: 100% !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    #cwrap .large_container #rightcontent > * {
      width: 100% !important;
      display: block;
      margin: 0 0 20px 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      #cwrap .large_container #rightcontent > * > * {
        float: none !important; }
    #cwrap .large_container #rightcontent table.mobile-table {
      float: none !important; }
    #cwrap .large_container #rightcontent .mobile-hidden {
      display: none; }
    #cwrap .large_container #rightcontent .cibicover {
      margin: auto;
      width: 200px !important;
      height: auto; }
    #cwrap .large_container #rightcontent #testimonial .paragraph-first .animated_man {
      display: block;
      width: 150px !important;
      height: auto !important;
      float: none !important;
      margin: auto; }
    #cwrap .large_container #rightcontent .row-first {
      margin-top: 20px; }
    #cwrap .large_container #rightcontent .merged_man-woman {
      display: block;
      width: 220px !important;
      height: auto !important;
      float: none !important;
      margin: auto; }
    #cwrap .large_container #rightcontent #bullet {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin-bottom: 0;
      padding-left: 20px; }
      #cwrap .large_container #rightcontent #bullet .mobile-show {
        display: list-item; }
      #cwrap .large_container #rightcontent #bullet .carciofi-box, #cwrap .large_container #rightcontent #bullet .spices-box, #cwrap .large_container #rightcontent #bullet .steak-box {
        width: 100%;
        position: relative;
        height: auto;
        min-height: 85px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-right: 5px; }
        #cwrap .large_container #rightcontent #bullet .carciofi-box img, #cwrap .large_container #rightcontent #bullet .spices-box img, #cwrap .large_container #rightcontent #bullet .steak-box img {
          display: inline-block;
          width: 100px;
          position: absolute;
          top: 0;
          right: 5px; }
        #cwrap .large_container #rightcontent #bullet .carciofi-box p, #cwrap .large_container #rightcontent #bullet .spices-box p, #cwrap .large_container #rightcontent #bullet .steak-box p {
          display: block;
          width: calc(100% - 110px);
          margin: 0; }
      #cwrap .large_container #rightcontent #bullet .spices-box, #cwrap .large_container #rightcontent #bullet .steak-box {
        height: auto;
        min-height: 130px; }
        #cwrap .large_container #rightcontent #bullet .spices-box img, #cwrap .large_container #rightcontent #bullet .steak-box img {
          width: 150px; }
        #cwrap .large_container #rightcontent #bullet .spices-box p, #cwrap .large_container #rightcontent #bullet .steak-box p {
          width: calc(100% - 160px); }
    #cwrap .large_container #rightcontent .rimborsati-image {
      display: block;
      margin: auto;
      width: 150px !important;
      height: auto !important;
      margin-bottom: 20px; }
    #cwrap .large_container #rightcontent .botitalian-box a img {
      max-width: 100% !important;
      width: 100% !important;
      height: auto !important;
      display: block;
      margin: auto; }
    #cwrap .large_container #rightcontent .benefits-box img {
      max-width: 100% !important;
      width: 100% !important;
      height: auto !important;
      display: block;
      margin: auto; }
    #cwrap .large_container #rightcontent .mobile-xx-font {
      font-size: 26px !important; } }
@media screen and (max-width: 390px) {
  #cwrap .large_container #rightcontent .links-box .link-item {
    width: 100% !important; }
  #cwrap .large_container #rightcontent p .image-second {
    width: 150px !important; } }

/*# sourceMappingURL=id73-mobile.css.map */
