######################
# Node
######################
node_modules/

######################
# SASS
######################
.sass-cache/

######################
# Intellij
######################
.idea/

######################
# Windows
######################
# Windows image file caches
Thumbs.db

######################
# Directories
######################
dist/
e2e/

######################
# Firebases
######################
.firebaserc
firebase-debug.log
